<div class="container-fluid"><h1>Consultas <button href="#" [routerLink]="['/consultas', 'new']" type="button" class="btn btn-primary">
    Adicionar
  </button></h1>
  <div id="notificationMessage" *ngIf="consultas.length == 0" class="alert alert-da" role="alert">
      Lista de consultas vazia
    </div>
  <table *ngIf="consultas.length >= 1" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID Paciente</th>
          <th scope="col">ID Medico</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consulta of consultas">
          <th scope="row">{{consulta.id}}</th>
          <td>{{consulta.idPaciente}}</td>
          <td>{{consulta.idMedico}}</td>
          <td><div class="btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" href="#" (click)="show(consulta.id)" class="btn btn-secondary">Visualizar</button>
              <button type="button" href="#" (click)="edit(consulta.id)" class="btn btn-secondary">Editar</button>
              <button type="button" href="#" (click)="destroy(consulta.id)" class="btn btn-secondary">Deletar</button>
            </div></td>
        </tr>
      </tbody>
    </table>
</div>
