<div class="container-fluid"><div id="showPanel" *ngIf="paciente">
  <h1>Dados de {{paciente.nome}}</h1>
  <p>
    <strong>Raça:</strong>
    {{paciente.raca}}
  </p>
  <p>
  <strong>Data de Nascimento:</strong>
    {{paciente.dataNascimento}}
  </p>
  <p>
  <strong>CPF:</strong>
    {{paciente.cpf}}
  </p>
  <p>
  <strong>RG:</strong>
    {{paciente.rg}}
  </p>
  <p>
  <strong>Sexo:</strong>
    {{paciente.sexo}}
  </p>
  <p>
  <strong>Nacionalidade:</strong>
    {{paciente.nacionalidade}}
  </p>
   <p>
  <strong>CEP:</strong>
    {{paciente.cep}}
  </p>
  <p>
  <strong>UF:</strong>
    {{paciente.uf}}
  </p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" (click)="edit()" class="btn btn-primary">Editar</button>
    <button type="button" (click)="exames()" class="btn btn-primary">Exames</button>
    <button type="button" (click)="consultas()" class="btn btn-primary">Consultas</button>
    <button type="button" (click)="back()" class="btn btn-primary">Voltar</button>
  </div>
<br>
</div>
</div>