<div class="container-fluid"><h1>Pacientes <button href="#" [routerLink]="['/pacientes', 'new']" type="button" class="btn btn-primary">
    Adicionar
  </button></h1>
  <div id="notificationMessage" *ngIf="pacientes.length == 0" class="alert alert-danger" role="alert">
      Lista de pacientes vazia
    </div>
  <table *ngIf="pacientes.length >= 1" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <th scope="row">{{paciente.id}}</th>
          <td>{{paciente.nome}}</td>
          <td>{{paciente.cpf | mask: '000.000.000-00'}}</td>
          <td><div class="btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" href="#" (click)="show(paciente.id)" class="btn btn-secondary">Visualizar</button>
              <button type="button" href="#" (click)="edit(paciente.id)" class="btn btn-secondary">Editar</button>
              <button type="button" href="#" (click)="destroy(paciente.id)" class="btn btn-secondary">Deletar</button>
            </div></td>
        </tr>
      </tbody>
    </table>
</div>