<div class="container-fluid"><h1>Medicos <button href="#" [routerLink]="['/medicos', 'new']" type="button" class="btn btn-primary">
  Adicionar
</button></h1>
<div id="notificationMessage" *ngIf="medicos.length == 0" class="alert alert-danger" role="alert">
    Lista de medicos vazia
  </div>
<table *ngIf="medicos.length >= 1" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medico of medicos">
        <th scope="row">{{medico.id}}</th>
        <td>{{medico.nome}}</td>
        <td>{{medico.cpf}}</td>
        <td><div class="btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" href="#" (click)="show(medico.id)" class="btn btn-secondary">Visualizar</button>
            <button type="button" href="#" (click)="edit(medico.id)" class="btn btn-secondary">Editar</button>
            <button type="button" href="#" (click)="destroy(medico.id)" class="btn btn-secondary">Deletar</button>
          </div></td>
      </tr>
    </tbody>
  </table>