<div class="container-fluid"><div id="showPanel" *ngIf="medico">
  <h1>Dados de {{medico.nome}}</h1>
  <p>
    <strong>Especialidade:</strong>
    {{medico.especialidade}}
  </p>
  <p>
  <strong>CPF:</strong>
    {{medico.cpf | mask:'000.000.000-00'}}
  </p>
  <p>
  <strong>CRM:</strong>
    {{medico.crm}}
  </p>
  <p>
  <strong>Sala de Atendimento:</strong>
    {{medico.salaDeAtendimento}}
  </p>
  <p>
      <strong>Salario:</strong>
        R${{medico.salario}}
      </p>
  <p>
  <strong>Plantao:</strong>
    {{medico.plantao}}
  </p>
  <div class="btn-group" role="group" aria-label="buttons">
    <button type="button" (click)="edit()" class="btn btn-secondary">Editar</button>
    <button type="button" (click)="back()" class="btn btn-secondary">Voltar</button>
  </div>
</div>
</div>
