<div class="container-fluid">
  <div class="row" style="padding:13px"><h1>Dashboard</h1></div>
  <div class="row"><div class="btn-group" role="group" aria-label="Basic example">
    <button [routerLink]="['/pacientes']" type="button" class="btn btn-info">Pacientes</button>
    <button [routerLink]="['/medicos']" type="button" class="btn btn-info">Medicos</button>
    <button [routerLink]="['/consultas']" type="button" class="btn btn-info">Consultas</button>
  </div></div>
  <div class="row"><div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div></div>
  </div>