<div class="container-fluid">
  <div class="row" style="padding:13px"><h1>Dashboard</h1></div>
  <div class="row"><ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/pacientes']">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/medicos']">Medicos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/consultas']">Consultas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Exames</a>
      </li>
    </ul></div>
  </div>