<div class="container-fluid">
  <h1>New Exame</h1>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <label for="exame_name">Data do Exame</label>
    <input type="text" class="form-control" id="exame_dataExame" name="dataExame"  placeholder="Data Exame" required="required" ngModel> <br>
  </div>
  <div class="form-group">
    <label for="exame_name">Valor</label>
    <input type="text" class="form-control" id="exame_valor" prefix="R$" mask="000,00" name="valor" placeholder="Valor" required ngModel> <br>
  </div>
  <div class="form-group">
    <label for="exame_name">Data do Resultado</label>
    <input type="text" class="form-control" id="exame_dataResultado" mask="00/00/0000" name="dataResultado" required placeholder="Data Resultado" ngModel> <br>
  </div>

<button type="submit" class="btn btn-primary">Adicionar</button>
</form>

<a [routerLink]="['/exames']">Voltar</a>
</div>