<div class="container-fluid"><h1>Edit Medico</h1>

  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
        <label for="medico_nome">Nome</label>
        <input type="text" class="form-control" id="medico_nome" name="nome" placeholder="Nome completo" [ngModel]= "medico.nome">
    </div>
    <div class="form-group">
        <label for="medico_especialidade">Especialidade</label>
        <input type="text" class="form-control" id="medico_especialidade" name="especialidade" placeholder="Especialidade" [ngModel]= "medico.especialidade">
    </div>
    <div class="form-group">
        <label for="medico_crm">CRM</label>
        <input type="text" class="form-control" id="medico_crm" name="crm" placeholder="Número do CRM" [ngModel]= "medico.crm">
    </div>
    <div class="form-group">
        <label for="medico_cpf">CPF</label>
        <input type="text" class="form-control" id="medico_cpf" name="cpf" placeholder="CPF" [ngModel]= "medico.cpf">
    </div>
    <div class="form-group">
      <label for="medico_salaDeAtendimento">Sala de Atendimento</label>
      <input type="text" class="form-control" id="medico_salaDeAtendimento" name="salaDeAtendimento" placeholder="Sala De Atendimento" [ngModel]= "medico.salaDeAtendimento">
  </div>
  <div class="form-group">
    <label for="medico_salario">Salário</label>
    <input type="text" class="form-control" id="medico_salario" name="salario" placeholder="Salario do Medico" [ngModel]= "medico.salario">
  </div>
  <div class="form-group">
    <label for="medico_plantao">Plantão</label>
    <select class="form-control" id="medico_plantao" name="plantao">
        <option value="false">Não</option>
        <option value="true">Sim</option>
        </select>
  </div>
  <button type="submit" class= "btn btn-primary">Atualizar</button>
</form>

<a [routerLink]="['/medicos']">Voltar</a>
</div>